<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> 欢迎光临</h1>

		<p>到自己的用户页面去</p>

<!-- 		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> 本地登录</a> -->
		<a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> 走</a>
	</div>

</div>
</body>
</html>